<ion-header>
  <ion-toolbar>
    <ion-title>View place</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h2>{{ place.title }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{ place.description }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>        
        <agm-map
          [latitude]="place.location.lat"
          [longitude]="place.location.lon"
          [zoom]="16"          
        >
        <agm-marker         
          [latitude]="place.location.lat"
          [longitude]="place.location.lon"
        ></agm-marker>
        </agm-map>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="solid" color="danger" (click)="onDeleteClicked()">Delete</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="solid" (click)="onCloseClicked()">Close</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
